.UserInfo {  
  height: 100%;
  position:absolute;
  top:0;
  right:5px;   
  font-style: italic;
  color: darkgray;
  justify-content: center 
}
.UserInfo p {  
  transform: translate(0, -25%);  
}


@media(max-width:800px) {
  .UserInfo {      
    display: none;
  }

}